<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'OrderDetails' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
 <div class="modal-body" style="text-align: justify;">
    <form #form="ngForm">
        <div class="form-row">
            <h6 for="inputState">{{'Basic' | translate}} : </h6>
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'OrderNo' | translate}}</label>
                    <label class="txt2" name="ـid" #ـid id="ـid"> {{orderDetails?.order_no}} </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'CreateAt' | translate}} </label>
                    <label class="txt2" name="coupon" id="coupon"> {{orderDetails?.createAt | date:'dd/MM/yyyy'}} </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Client' | translate}} </label>
                    <label class="txt2" name="full_name" #full_name id="full_name"> {{orderDetails?.user?.full_name}} </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Price' | translate}} </label>
                    <label class="txt2" name="price" #price id="price"> {{orderDetails?.total}} ر.س </label>
                </div>
            </div>
        </div>
        <div class="form-row mt-3">
            <h6 for="inputState">{{'OrderDetails' | translate}} : </h6>
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Provider' | translate}} </label>
                    <label class="txt2" name="provider" id="provider"> {{orderDetails?.provider?.full_name}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Type' | translate}}</label>
                    <label class="txt2" name="category" id="category"> {{orderDetails?.category?.arName}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Co_Type' | translate}} </label>
                    <label class="txt2" name="work" id="work"> {{orderDetails?.user?.work?.arName}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Status' | translate}} </label>
                    <strong *ngIf="orderDetails?.status == 'new' " class="status-icon bg-info">{{'ST_New' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'accepted' " class="status-icon bg-info">{{'ST_Accept' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'started' " class="status-icon bg-warning">{{'ST_Progress' | translate}} </strong>
                    <strong *ngIf="orderDetails?.status == 'updated' " class="status-icon bg-warning">{{'ST_Updated' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'finished' || orderDetails?.status == 'rated' || orderDetails?.status == 'prefinished'" class="status-icon bg-success">{{'ST_Done' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'canceled_by_admin'" class="status-icon bg-danger">{{'ST_Admin' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'canceled_by_driver'" class="status-icon bg-danger">{{'ST_Employee' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'canceled_by_user'" class="status-icon bg-danger">{{'ST_User' | translate}}</strong>
                </div>
            </div>
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                    <label class="txt1" for="inputState">{{'Title' | translate}}</label>
                    <label class="txt2" name="buildingNo" id="buildingNo"> {{orderDetails?.title}}</label>
                </div>
                <div class="form-group col-md-12">
                    <label class="txt1" for="inputState">{{'Details' | translate}}</label>
                    <label class="txt2" name="streetName" id="streetName" style="display: block; overflow-wrap: anywhere;"> {{orderDetails?.bio}}</label>
                </div>
            </div>  
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'OrderType' | translate}}</label>
                    <label class="txt2" name="buildingNo" id="buildingNo">
                        <span *ngIf="orderDetails?.order_type == 'service' ">{{'Service' | translate}}</span>
                        <span *ngIf="orderDetails?.order_type == 'job' ">{{'Job' | translate}}</span>
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'OfferType' | translate}}</label>
                    <label class="txt2" name="streetName" id="streetName"> 
                        <span *ngIf="orderDetails?.offer_type == 'online' ">{{'Online' | translate}}</span>
                        <span *ngIf="orderDetails?.offer_type == 'onfield' ">{{'Offline' | translate}}</span>
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'OfferType' | translate}}</label>
                    <label class="txt2" name="streetName" id="streetName"> 
                        <span *ngIf="orderDetails?.target == 'personal' ">{{'Personal' | translate}}</span>
                        <span *ngIf="orderDetails?.target == 'company' ">{{'Company' | translate}}</span>
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'OfferType' | translate}}</label>
                    <label class="txt2" name="streetName" id="streetName"> 
                        <span *ngIf="orderDetails?.price_type == 'hourly' ">{{'hourly' | translate}}</span>
                        <span *ngIf="orderDetails?.price_type == 'daily' ">{{'daily' | translate}}</span>
                        <span *ngIf="orderDetails?.price_type == 'yearly' ">{{'yearly' | translate}}</span>
                    </label>
                </div>
            </div>  
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'execution_type' | translate}}</label>
                    <label class="txt2" name="execution_type" id="execution_type">
                        <span *ngIf="orderDetails?.execution_type == 'limited' ">{{'limited' | translate}}</span>
                        <span *ngIf="orderDetails?.execution_type == 'unlimted' ">{{'unlimted' | translate}}</span>
                    </label>
                </div>
                <div class="form-group col-md-3" *ngIf="orderDetails?.order_type == 'service'">
                    <label class="txt1" for="inputState">{{'employee_no' | translate}}</label>
                    <label class="txt2" name="streetName" id="streetName"> 
                    {{orderDetails?.employee_no}}
                    </label>
                </div>
                <div class="form-group col-md-3" *ngIf="orderDetails?.execution_type == 'limited'">
                    <label class="txt1" for="inputState">{{'days' | translate}}</label>
                    <label class="txt2" name="streetName" id="streetName"> 
                    {{orderDetails?.days}}
                    </label>
                </div>
                <!-- <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'days' | translate}}</label>
                    <label class="txt2" name="streetName" id="streetName"> 
                    {{orderDetails?.days}}
                    </label>
                </div> -->
            </div>  
        </div>
        <!-- <div class="form-row mt-3">
            <div class="form-group col-md-12" *ngIf="orderDetails?.notes != ''">
                <label class="txt1" for="inputState">{{'Note' | translate}}</label>
                <label class="txt2" name="Notes" id="Notes"> {{orderDetails?.notes}}</label>
            </div>
            <div class="form-group col-md-12" *ngIf="orderDetails?.canceled_note != ''">
                <label class="txt1" for="inputState">{{'CancelReason' | translate}}</label>
                <label class="txt2" name="Notes" id="Notes"> {{orderDetails?.canceled_note}}</label>
            </div>
        </div> -->
        <div class="form-row mt-3">
            <div class="form-group col-md-12">
                <label class="txt1" for="inputState">{{'Note' | translate}}</label>
                <label class="txt2" name="Notes" id="Notes"> {{orderDetails?.notes}}</label>
            </div>
            <div class="form-group col-md-12">
                <label class="txt1" for="inputState">{{'CancelReason' | translate}}</label>
                <label class="txt2" name="Notes" id="Notes"> {{orderDetails?.canceled_note}}</label>
            </div>
            <div class="form-group col-md-12">
                <label class="txt1" for="inputState">{{'Supervisor' | translate}}</label>
                <label class="txt2" name="Notes" id="Notes"> {{orderDetails?.supervisor?.name}}</label>
            </div>
        </div>
        <div class="form-row mt-3" *ngIf="orderDetails?.offers.length > 0">
            <h6 for="inputState">{{'Offers' | translate}}: </h6>
            <br>
            <div class="form-row col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">الاسم</th>
                                <!-- <th scope="col">الحالة</th> -->
                                <th scope="col">السعر</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of orderDetails?.offers; let i = index">
                                <td>{{item?.user?.full_name}}</td>
                                <!-- <td>{{item?.status}}</td> -->
                                <td>{{item?.price}} ر.س</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="" *ngIf="orderDetails?.offer_type != 'online' ">
            <agm-map [latitude]="orderDetails?.lat" [longitude]="orderDetails?.lng" [zoom]="zoom_m1" [scrollwheel]="true"
                [disableDoubleClickZoom]="false" [mapDraggable]="true" [zoomControl]="true" [mapTypeControl]="true"
                [mapTypeId]="'hybrid'">
                <agm-marker [latitude]="orderDetails?.lat" [longitude]="orderDetails?.lng">
                    <agm-info-window> {{'Location' | translate}}</agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </form>
</div>
